
<html>
    <head>
        <title>Admin Log In</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/jsencrypt.js")"></script>
    </head>
    <body>
        <h4>Admin Login Screen</h4>

        <div id="adminLoginDiv">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password"></td>
                </tr>
            </table>
            <button onclick="loginAdmin()">Login</button>

        </div>
        <textarea id="pubkey" rows="15" cols="65">-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArfy16URDaFMq99YXkj1g
buV4bEePd2SaS/4aXA+q196IJbII1hj+nRm1DWw29pkDn6shK2sDgJuKiABGKBVb
0vvTvNL5G9uwfmtU3liWW+LihxWUDekWYlmYz+RkAP6E7eWOkLOv7IAACt+ek5KS
BHzI2g7lLXXJoMglp1Pa6uiRCv3SWwDzot7vKPDT2t28IS6d5rLEK/kYTP0owhOT
S+0Bvj7+QZOh2d0qV7bRqhcgTHI6OxBqF0fulxiNu1XdxcEAdgR9Ad3gJPwb5+GS
j6JU5I7owH/nRR6gmFpySMyTNMVshrr7rQ5qWhzFiVb+ZuJLu1vUSXpIz8zqNQdP
7wIDAQAB
-----END PUBLIC KEY-----</textarea>

        <script>
            var publicKey = $("#pubkey").val();

            var loginAdmin = function() {
                var username = $("[name=username]").val(),
                    password = $("[name=password]").val();

                console.log(password);

                var encrypt = new JSEncrypt();
                encrypt.setPublicKey(publicKey);
                var encrypted = encrypt.encrypt(password);

                console.log(encrypted);

                $.ajax({
                    type: "POST",
                    url: "/auth/login",
                    data: JSON.stringify({username: username, password: encrypted}),
                    success: function(data) {
                        console.log(data);
                        if (data.msg === "Success") {
                            document.cookie = "accessToken=" + data.token;
                            window.location = "/admin/list";
                        }
                        <!--alert("Successfully updated user's device list");-->
                    },
                    error: function(data) {
                        console.log(data);
                        <!--alert("Failed to updates user's  device list");-->
                    },
                    contentType: "application/json",
                    dataType: "json"
                })
            };

        </script>
    </body>
</html>
