@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
	<meta name="viewport" content="initial-scale=1.0">
    	<meta charset="utf-8">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<style>
	    label, input { display:block; }
	    input.text { margin-bottom:12px; width:95%; padding: .4em; }
	    fieldset { padding:0; border:0; margin-top:25px; }
	    h1 { font-size: 1.2em; margin: .6em 0; }
	    div#users-contain { width: 350px; margin: 20px 0; }
	    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
	    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
	</style>
  	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var dialog, form;
    var email = $( "#email" );
    var password = $( "#password" );
    var allFields = $( [] ).add( email ).add( password );
 
    function loginUser() {
	  $.getJSON("http://gps1tracker.herokuapp.com/user/email/"+email.val(), function( data ) {
		$.each( data, function( key, val ) {
			if(key == "devices") {
				var select = document.getElementById('trackers');
				for(i in val) {
	    	    	var opt = document.createElement('option');
    				opt.value = val[i].id;
    				opt.innerHTML = val[i].nickname;
					select.appendChild(opt);
				}
			}
		});
		if($( "#trackers").val() == null) {
			alert("No tracking devices found");
		}
		initMap($( "#trackers").val());
      });
      dialog.dialog( "close" );
    }
 
    dialog = $( "#dialog-form" ).dialog({
      autoOpen: true,
      height: 350,
      width: 400,
      modal: true,
      buttons: {
        "Login": loginUser,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        form[ 0 ].reset();
      }
    });
 
    form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      loginUser();
    });
    
    // Map related code below:
    var map;
    var pathPolyline;
    var marker;

    $("#clearRoute").on("click", function(evt) {
    	if(pathPolyline) {
        	pathPolyline.setMap(null);
        }
    }
    
    $("#route_1h").on("click", function(evt) {
    	loadRecords(3600);
    }
    $("#route_6h").on("click", function(evt) {
    	loadRecords(21600);
    }
    $("#route_1d").on("click", function(evt) {
    	loadRecords(86400);
    }

    function loadRecords(DIFF_timestamp) {
      clearMap();
      var trackerId = $( "#trackers").val();
      var timestamp = parseInt(Date.now()/1000);
      var tsMarker = timestamp - DIFF_timestamp;
      var positionPath = [];
      $.getJSON("http://gps1tracker.herokuapp.com/gps/"+trackerId+"/"+tsMarker, function( data ) {
        var lat = 0; 
        var lng = 0;
        var timestamp = 0;
        $.each( data, function( key, rec ) {
          if(rec.e!='000000000' && rec.n!='000000000') {
            lng = convertToLng(rec.e);
            lat = convertToLat(rec.n);
            timestamp = rec.ts;
            var position = {};
            position["lat"] = lat;
            position["lng"] = lng;
            positionPath.push(position);
          }
        });
        // set position path on a map:
        pathPolyline = new google.maps.Polyline({
          path: positionPath,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });
        pathPolyline.setMap(map);
      });
    }

  	function timeConverter(UNIX_timestamp){
  	  var a = new Date(UNIX_timestamp * 1000);
  	  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  	  var year = a.getFullYear();
  	  var month = months[a.getMonth()];
  	  var date = a.getDate();
  	  var hour = a.getHours();
  	  var min = a.getMinutes();
  	  var sec = a.getSeconds();
  	  var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
  	  return time;
  	}

    function convertToLng(e) {
      var dd = e.substring(0,3);
      var mm = e.substring(3,e.length-1);
      var we = e.substring(e.length-1);
      lng = parseInt(dd) + parseFloat(mm)/60;
      if(we=='W') lng = -lng;
      return lng;
    }

    function convertToLat(n) {
      var dd = n.substring(0,2);
      var mm = n.substring(2,n.length-1);
      var ns = n.substring(n.length-1);
      lat = parseInt(dd) + parseFloat(mm)/60;
      if(ns=='S') lat = -lat;
      return lat;
    }
    
    function initMap(trackerId) {
  	  var defaultCenter = {lat: 40.7608, lng: -111.8910};
  	  $.getJSON("http://gps1tracker.herokuapp.com/gps/"+trackerId, function( data ) {
    	  var lat = 0; 
  		  var lng = 0;
  		  var timestamp;
  		  var battery;
    		$.each( data, function( key, val ) {
      		if(key=="e") { // Longitude
  				  var e = val;
  				  if(e!='000000000') {
  					 lng = convertToLng(e);
  				  } 
  			  } else if(key=="n") { // Latitude
  				  var n = val;
  				  if(n!='000000000') {
  					 lat = convertToLat(n);
  				  }	
  			  } else if(key=="ts") {
  				  timestamp = val;
  			  } else if(key=="b") {
  				  battery = val;
  			  }
    		}); 
    		if(lat==0||lng==0) {
    	    	map = new google.maps.Map(document.getElementById('map'), {
            		center: defaultCenter,
            		zoom: 8
          		});
          		alert('Current Location is not available.');
  		  	} else {
  		    	var position = {lat: lat, lng: lng};
  		    	map = new google.maps.Map(document.getElementById('map'), {
            		center: position,
            		zoom: 15
          		});
  		  		marker = new google.maps.Marker({
            		position: position,
            		map: map,
            		title: 'Last seen: '+timeConverter(timestamp)
          		});
  		  		$("#status").html('Last seen: '+ timeConverter(timestamp));
  		  		$("#battery").html(battery+'%');
  		  }
  	  });
      }

  } );
  </script>
  	<style>
      	/* Always set the map height explicitly to define the size of the div
      	 * element that contains the map. */
      	#map {
        	height: 100%;
      	}
      	#battery {
			font-size: 12px;
		}
		.menu {
    		position: absolute;
    		top:0;
    		right:0; 
    		height:50px;
    		background:#d8d8d8;
    		margin: 0px;
    		z-index: 10;
		}
      	/* Optional: Makes the sample page fill the window. */
      	html, body {
        	height: 100%;
        	margin: 0;
        	padding: 0;
      	}
    </style>
    </head>
    <body>
	<div id="dialog-form" title="Login User">
  	 <form>
   	   <fieldset>
      		<label for="email">Email</label>
      		<input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all">
      		<label for="password">Password</label>
      		<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all"> 
      		<!-- Allow form submission with keyboard without duplicating the dialog button -->
      		<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    	  </fieldset>
  	</form>
	</div>
      <div class="menu">
        <table><tr><td><img src="@routes.Assets.versioned("images/logo.png")" alt="GPS1Tracker" height="20px"></td>
        <td><input type="button" value="1 hr" id="route_1h"></td> 
        <td><input type="button" value="6 hrs" id="route_6h"></td>
        <td><input type="button" value="1 day" id="route_1d"></td>
        <td><select name="trackers" id="trackers"></select></td>
        <td><input type="button" value="X" id="clearRoute"></td>
        </tr>
        <tr><td colspan=4><span id="status">unknown status</span></td>
        <td align="right"><span id="battery_icon">
        	<img src="@routes.Assets.versioned("images/battery_full.png")">
        	</span></td>
        <td><span id="battery"></span></td></tr>
        </table>
      </div>
      <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXbLHs_OX8buHMtFRrRUttokJ5uRJ1elw"
    async defer></script>

    </body>
</html>
